@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
@import "../variables";

* {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 auto;
  padding: 25px 0 10px 0;
  width: 200px;
  font-family: "Lily Script One", cursive;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: cornflowerblue;
  @include transitionCenter;
}

.title:hover {
  color: lightgray;
}

.form {
  @include formCenter;
}

.button {
  padding: 10px 30px;
  width: auto;
  margin-top: 10px;
  background: #1abc9c;
  border-radius: 20px;
  color: white;
  float: right;
  clear: right;
  @include transitionCenter;
}

.button:hover {
  opacity: 0.8;
}

.button:hover::after {
  opacity: 0.5;
}
