@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
* {
  margin: 0;
  padding: 0;
}
.title {
  margin: 0 auto;
  padding: 20px 0;
  width: 200px;
  font-family: "Lily Script One", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: lightgray;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.title:hover {
  color: cornflowerblue;
}
