@mixin formCenter {
  margin: auto;
  padding: 10px;
  width: 300px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

@mixin transitionCenter {
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
